@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
  background: #581237;
  font-family: 'Ubuntu', sans-serif;
  color: lightgray;
}

.Navbar {
  background: linear-gradient(110deg, #c47ea3 70%, #d38eb3 60%);
  margin: 20px;
  color: lightgray;
  border-radius: 5px;
}

ul {
  list-style: none;
}

li {
  margin: 0.65em 0;
}

h3 {
  margin-top: 0;
}

.app {
  background: linear-gradient(110deg, #1d1d1d 60%, #252525 60%);
  max-width: 60rem;
  margin: 4rem auto;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.44);
}

.header {
  padding: 5px 10px;
  text-align: center;
  border-bottom: solid 5px #c47ea3;
}

h1 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 25px;
}

.you-ranked {
  color: #d38eb3;
  margin: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.you-ranked p {
  margin: 0px;
}

.add-artist {
  color: #d38eb3;
  padding: 5px 10px;
  margin: 5px;
  font-size: 20px;
  border-radius: 5px;
  border: solid 2px 
}

.add-artist:hover {
  text-decoration: none;
  color: #c2789f;
}

.artist {
  display: flex;
  border-bottom: solid 2px #c2789f;
  letter-spacing: 2px;
  align-items: center;
}

.remove-artist {
  margin: 15px;
  cursor: pointer;
}

.remove-artist:hover {
  color: rgb(149, 149, 149);
}

.artist-section {
  flex-grow: 1;
  padding: 10px 10px 10px 25px;
} 

.artist-name {
  font-size: 35px;
  font-weight: 600;
}

.artist-name:hover {
  color: #d38eb3;
  cursor: pointer;
}

.artist-img {
  border-radius: 5px;
  margin: 10px;
  object-fit: cover;
  width: 80px;
  height: auto;
}

.artist-score {
  width: 190px;
  background: blue;
}

.counter {
  display: flex;
}

.counter-action {
  border: none;
  font-weight: bold;
  color: #fafafa;
  display: block;
  padding: 20px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.counter-action.increment {
  background: #66bb6a;
}

.counter-action.increment:hover {
  background: #549d59;
  cursor: pointer;
}

.counter-action.decrement {
  background: #ef5350;
}

.counter-action.decrement:hover {
  background: #c44442;
  cursor: pointer;
}

.counter-score {
  flex-grow: 1;
  background: #2b2b2b;
  color: #fafafa;
  text-align: center;
  font-family: monospace;
  padding: 10px;
  font-size: 2em;
}

.add-artist-form form {
  display: flex;
  background-color: #222;
}

.add-artist-form input[type='text'] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #333;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  color: #999;
  letter-spacing: 2px;
  outline: none;
}

.add-artist-form input[type='text']::-webkit-input-placeholder {
  color: #666;
  letter-spacing: 2px;
}

.add-artist-form input[type='text']:focus {
  background-color: #444;
}

.add-artist-form input[type='submit'] {
  display: block;
  font-size: 0.6em;
  margin: 15px 15px 15px 0;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  border: none;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
}

.add-artist-form input[type='submit']:hover {
  background: #4b71b5;
  color: #fafafa;
  cursor: pointer;
}

.artist-detail {
  font-size: 1.1em;
  padding: 1.65em 0 1.4em 1.65em;
}
.artist-detail p {
  margin: 0;
  color: rgba(255, 255, 255, 0.75);
}

.artist-detail ul {
  padding: 0;
  text-transform: initial;
}

.artist-detail ul span {
  color: rgba(255, 255, 255, 0.43);
  display: inline-block;
  padding-right: 0.6em;
  width: 3.8em;
}
