@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
  background: #581237;
  font-family: 'Ubuntu', sans-serif;
  color: lightgray;
}

.Navbar {
  background: linear-gradient(110deg, #bb779b 70%, #db96bb 60%);
  margin: 20px;
  color: lightgray;
  border-radius: 5px;
}

.add-nav {
  display: flex;
  justify-content: center;
  padding: 15px 5px;
  border-bottom: solid 5px #bb779b;
}

ul {
  list-style: none;
}

li {
  margin: 0.65em 0;
}

h3 {
  margin-top: 0;
}

.app {
  background: linear-gradient(110deg, #1d1d1d 60%, #252525 60%);
  max-width: 60rem;
  margin: 4rem auto;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.44);
}

.header {
  padding: 5px 10px;
  text-align: center;
  
}

h1 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 25px;
}

.you-ranked {
  color: #db96bb;
  margin: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.you-ranked p {
  margin: 0px;
}

.add-artist {
  color: #db96bb;
  background: none;
  padding: 20px;
  margin: 10px 0 15px 0;
  font-size: 20px;
  border-radius: 50%;
  border: solid 2px 
}

.add-artist:hover {
  text-decoration: none;
  color: #a15681;
}

.artist {
  display: flex;
  border-bottom: solid 2px #c2789f;
  letter-spacing: 2px;
  align-items: center;
}

.remove-artist {
  margin: 15px 25px;
  cursor: pointer;
}

.remove-artist:hover {
  color: rgb(149, 149, 149);
}

.artist-section {
  flex-grow: 1;
  padding: 10px 10px 10px 25px;
} 

.artist-name {
  color: #db96bb;
  font-size: 35px;
  font-weight: 600;
}

.artist-name:hover {
  cursor: pointer;
  color: #a15681;
  text-decoration: none;
}

.artist-img {
  border-radius: 5px;
  margin: 10px;
  object-fit: cover;
  width: 80px;
  height: auto;
}

.artist-score {
  width: 150px;
}

.counter {
  display: flex;
}

.counter-action {
  border: none;
  font-weight: bold;
  color: #fafafa;
  display: block;
  padding: 20px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.counter-action:focus {
  outline:0;
}

.counter-action.increment {
  border-radius: 25px 0 25px 0;
  border: solid 2px  #66bb6a;
  background: none;
}

.counter-action.increment:hover {
  border: solid 2px  #38773c;
  background: none;
  cursor: pointer;
}

.counter-action.decrement {
  border-radius: 25px 0 25px 0;
  border: solid 2px  #ef5350;
  background: none;
}

.counter-action.decrement:hover {
  border: solid 2px  #882322;
  background: none;
  cursor: pointer;
}

.counter-score {
  flex-grow: 1;
  color: lightgray;
  text-align: center;
  padding: 10px;
  font-size: 2em;
}

.add-artist-form {
  padding: 15px;
  display: grid;
  justify-items: stretch;
  align-content: center;
}

.center-btn{
  margin: 15px;
  text-align: center;
}

.label {
  margin: 15px 0 0 0;
}

.btn-back {
  color: #db96bb;
  display: flex;
  align-self: right;
}

.btn-back:hover {
  text-decoration: none;
  color: #a15681;
}

.input {
  padding: 10px;
  border-radius: 5px;
  background-color: #fafafa;;
  border-style: none;
  color: #999;
  outline: none;
}

.artist-detail {
  font-size: 1.1em;
  padding: 1.65em 0 1.4em 1.65em;
}
.artist-detail p {
  margin: 0;
  color: rgba(255, 255, 255, 0.75);
}

.artist-detail ul {
  padding: 0;
  text-transform: initial;
}

.artist-detail ul span {
  color: rgba(255, 255, 255, 0.43);
  display: inline-block;
  padding-right: 0.6em;
  width: 3.8em;
}

.footer {
  margin-right: 25px;
  text-align: right;
  font-size: 12px;
}
